doctype html
html
  head
    meta(charset='utf-8')
    title 90's Game
    link(href='css/styles.css', rel='stylesheet', type='text/css')
    link(href='less/app.css', rel='stylesheet', type='text/css')
  body
    #90s-game
    #highscore(style='visibility:hidden;')
    #leaderboard

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='js/vendor/phaser.js')
    script(src='js/es5/game.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
